telethon==1.36.0
python-dotenv
psutil
opencv-python-headless
devgagantools
aiofiles
aiohttp
motor
pymongo
pytz
Pillow
flask
werkzeug==2.2.2
mutagen
yt-dlp
requests
cryptography
pyrogram==2.0.106
tgcrypto==1.2.5
Flask==2.3.3
